.introduce {
  margin: 120px 0;

  &__container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    justify-content: space-between;

    &__item {
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__icon {
        width: 83px;
        height: 83px;
        position: relative;
        z-index: 1;
        &__wrap {
          width: 82px;
          height: 82px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: center;
          align-items: center;
          &__img {
            border: 2px solid rgba(0, 0, 0, 0);
            border-radius: 50%;
            width: 73px;
            height: 73px;
            border: 2px solid rgba(0, 0, 0, 0);
          }
        }
        &__img {
          border-radius: 50%;
          width: 82px;
          height: 82px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 3;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 60px;
            height: 60px;
            z-index: 4;
          }
        }

        &:hover {
          .introduce__container__item__icon__wrap {
            &__img {
              animation: hoverIntro 1s linear;
              border-color: transparent rgba(204, 146, 46, 1);
            }
          }
          .introduce__container__item__icon__img {
            img {
              animation: hoverIntr2 1s linear;
            }
          }
        }
      }

      &__infor {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          &:nth-child(1) {
            width: 70%;
            font-size: 5rem;
            text-align: center;
            color: #cc922e;
          }
          &:nth-child(2) {
            width: 70%;
            text-transform: uppercase;
            font-size: 1.6rem;
            text-align: left;
          }
        }
      }
    }
    &__scroll {
      animation: showScroll 1s linear;
      opacity: 1;
    }
  }
  @include respon(pc_1344) {
    margin: 60px 0;
    &__container {
      width: 82.5%;
    }
  }
  @include respon(ipadPro) {
    margin: 60px 0;
    &__container {
      flex-wrap: wrap;
      width: 100%;
      &__item {
        width: 50%;
      }
    }
  }
}
@keyframes showScroll {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes hoverIntro {
  0% {
    transform: rotate(0deg);
    border-color: transparent rgba(204, 146, 46, 0);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent rgba(204, 146, 46, 1);
  }
}
@keyframes hoverIntr2 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
